# From Heroku: https://github.com/heroku/python-sample
venv
*.pyc
.env
staticfiles
db.sqlite3

# TrackTheNews
ttnconfig/config.yaml
*.db

# Python environment
# Pipfile
# Pipfile.lock

# Custom
validate-data/node_modules
.vscode
credentials.txt
notes.md
